<div class="login-form">
    <form #f="ngForm" (ngSubmit)="login(f.value)">
        <h2 class="text-center">Sign in</h2>		
        <div class="form-group">
        	<div class="form-group">
                <input #email1="ngModel" [(ngModel)]="email" type="email" class="form-control" name="email" placeholder="Email ID" required="required">
                <div class="alert alert-danger" *ngIf="email1.touched && email1.invalid">
                    <div *ngIf="email1.errors.required">Email is required</div>
                </div>
            </div>
        </div>
		<div class="form-group">
            <div class="form-group">
                <input #password1="ngModel" [(ngModel)]="password" type="password" class="form-control" name="password" placeholder="Password" required="required">
                <div class="alert alert-danger" *ngIf="password1.touched && password1.invalid">
                    <div *ngIf="password1.errors.required">Password is required</div>
                </div>
            </div>
        </div> 
        <div class="alert alert-danger" *ngIf="alert==1">
            <div *ngIf="alert==1">Username or Password not matched</div>
        </div>
        <button class="btn btn-success btn-block login-btn">Sign in</button>       
        
    </form>
    <div class="hint-text small">Don't have an account? <a routerLink="/signup" class="text-success">Register Now!</a></div>
</div>