<div class="post-form">
    <form #postform="ngForm" (ngSubmit)="postSubmit(postform)">
        <h2 class="text-center" *ngIf="postId==null">Post a Status</h2>
        <h2 class="text-center" *ngIf="postId!=null">Edit Post</h2>
        <div class="row justify-content">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="status" style="font-weight: 500;">Status</label>
                    <textarea #status1="ngModel" [(ngModel)]="post.status" name="status" class="form-control" rows="4"
                        required="required" ></textarea>
                    <div class="alert alert-danger" *ngIf="status1.touched && status1.invalid">
                        <div *ngIf="status1.errors.required">Status is required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row justify-content">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="radio">
                    <label class="public">
                        <input [(ngModel)]="post.privacy" type="radio" name="privacy" value="public">
                        Public
                    </label>
                    <label>
                        <input [(ngModel)]="post.privacy" type="radio" name="privacy" value="private">
                        Private
                    </label>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row justify-content">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                    <label for="location" style="font-weight: 500;">Check In</label>
                    <select  #mySelect [(ngModel)]="post.location"
                    (change)="onOptionsSelected(mySelect.value)" name="location" id="location" class="form-control">
                        <option *ngFor="let location of locationlist" [value]="location.location">
                            {{location.location}}
                        </option>
                    </select>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row justify-content">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button class="btn btn-success btn-send" type="submit" *ngIf="postId==null" >Post</button>
                <button class="btn btn-success btn-send" type="submit" *ngIf="postId!=null" >Save</button>
            </div>
            <div class="col-md-3"></div>
        </div>

    </form>

</div>